@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div id="forgot-password" class="p-8">

    <div class="form-wrapper md-elevation-8 p-8">

        <div class="logo bg-secondary">
            <span>F</span>
        </div>

        <div class="title mt-4 mb-8">Recover your password</div>

        <form method="post" novalidate>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-4">
                <input type="email" asp-for="Input.Email" class="form-control" id="forgotPasswordFormInputEmail" aria-describedby="emailHelp" placeholder=" " required />
                <label for="forgotPasswordFormInputEmail">Email address</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

          
            <button type="submit" class="submit-button btn btn-block btn-secondary mt-8 mb-4 mx-auto" aria-label="SEND RESET LINK">
                SEND RESET LINK
            </button>

        </form>

        <div class="login row align-items-center justify-content-center mt-8 mb-6 mx-auto">
            <a class="link text-secondary" asp-area="Identity" asp-page="/Account/login">Go back to login</a>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
