@using TaskManager.AdamResurces
@using TaskManager.Data
@using TaskManager.Enums
@using TaskManager.Extensions
@model TaskManager.Models.ResetPassword
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutTaskManager.cshtml";
}

@{
    var Db = new ApplicationDbContext();
    var Name = User.Identity.Name;
    var CurrentUser = Db.ApplicationUsers.SingleOrDefault(a => a.Email == Name);
   
}
<div id="reset-password" class="p-8 lang">

    <div class="form-wrapper md-elevation-8 p-8">
        @if (User.IsInRole(AppHelper.SuperAdminEndUser))
        {
            var attachment = Db.Attachments.FirstOrDefault(x => x.OwnerId == CurrentUser.Id.ToString() && x.AttachmentOwner == AttachmentOwner.Employees);
            <div class="avatar-wrapper">
                @if (attachment != null)
                {
                    <img class="avatar" src="/UploadEm/@attachment?.FileName">
                }


                <i class="status text-green icon-checkbox-marked-circle s-4"></i>
            </div>
        }
        else
        {
            var UserId = Db.ApplicationUsers.SingleOrDefault(x => x.Email == Name).Id;

            var EmployeeId = Db.Employees.SingleOrDefault(x => x.UserId == UserId).Id;
            var Attachment = Db.Attachments.FirstOrDefault(x => x.OwnerId == EmployeeId.ToString() && x.AttachmentOwner == AttachmentOwner.Employees);
            <div class="avatar-wrapper">
                @if (Attachment != null)
                {
                    <img class="avatar" src="/UploadEm/@Attachment?.FileName">
                }


                <i class="status text-green icon-checkbox-marked-circle s-4"></i>
            </div>
        }
        <div class="title mt-4 mb-8">@_UserInfo.ResetPassword</div>

        <form name="resetPasswordForm" method="post" novalidate>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-4">
                <input type="email" asp-for="Email" class="form-control" id="resetPasswordFormInputEmail" aria-describedby="emailHelp" placeholder=" " required />
                <label for="resetPasswordFormInputEmail">Emailaddress</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <input type="password" asp-for="Password" class="form-control" id="registerFormInputPassword" required />
                <label for="registerFormInputPassword">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <input type="password" asp-for="ConfirmPassword" class="form-control" id="registerFormInputPasswordConfirm" required />
                <label for="registerFormInputPasswordConfirm">Password (Confirm)</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="submit-button btn btn-block btn-secondary mt-8 mb-4 mx-auto" aria-label="RESET MY PASSWORD">
                RESET MY PASSWORD
            </button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}